{% extends "base.html" %}
{% block service_content %}
  <title>
    Последние обновления на сайте
  </title>
{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Тут я размещу информацию о себе, используя свои умения верстать.
  Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста.

  На этой странице будет опубликована информацию об авторе. Будет ссылка на его аккаунт в Github,
  на страницу его резюме и на остальные ресурсы в сети, будет рассказано, что его вдохновляет,
  как он пришел в мир программирования.

  Будет представлено фото рабочей кружки прочего инвентаря с рабочего стола.
  Картинка скорее всего будет лежать в папке /static.
</p>
{% endblock %} 